<div id="gov-banner">
    <div class="gov-banner-content-wrapper">
        <div class="gov-banner-collapsed-content">
            <img class="flag-icon" src="/assets/img/favicon-57.png" alt="U.S. flag">
            <p class="banner-header-text">Official website of the U.S. government - </p>
            <button class="toggle-banner-btn banner-header-text" (click)="toggleBanner()">
                <span class="toggle-button-span">
                    Here's how you know
                </span>
                <span class="arrow-image-container">
                    <img *ngIf="!expandBanner" class="arrow-img" src="/assets/img/angle-arrow-down-primary-white.svg"/>
                    <img *ngIf="expandBanner" class="arrow-img" src="/assets/img/angle-arrow-up-primary-white.svg"/>
                </span>
            </button>
        </div>
        <div *ngIf="expandBanner" class="gov-banner-expanded-content">
            <div class="gov-banner-columns-wrapper">
                <div class="gov-banner-column">
                    <img class="gov-banner-icon" src="/assets/img/icon-dot-gov.svg" alt="Dot gov">
                    <p class="banner-content">
                        <strong>The .gov means it’s official.</strong><br/>
                        Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
                    </p>
                </div>
                <div class="gov-banner-column">
                    <img class="gov-banner-icon" src="/assets/img/icon-https.svg" alt="Https">
                    <p class="banner-content">
                        <strong>The site is secure.</strong><br/>
                        The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
