<div class="footer-container-green">
    <div class="green-content-wrapper">
        <div class="green-row-top">
            <div class="mobile-row left">
                <div class="green-column">
                    <a class="footer-link" href="http://www.usda.gov/wps/portal/usda/usdahome">USDA.gov</a>
                    <a class="footer-link" href="http://www.dm.usda.gov/foia/">FOIA</a>
                </div>
                <div class="green-column">
                    <a class="footer-link" href="http://www.usda.gov/wps/portal/usda/usdahome?navtype=FT&amp;navid=PRIVACY_POLICY">Privacy Policy</a>
                    <a class="footer-link" href="https://www.eeoc.gov/eeoc/statistics/nofear/qanda.cfm">No Fear Data Act</a>
                </div>
            </div>
            <div class="mobile-row right">
                <div class="green-column">
                    <a class="footer-link" href="https://www.usda.gov/oig/">Office of Inspector General</a>
                    <a class="footer-link" href="https://www.fs.fed.us/about-agency/budget-performance">Budget and Performance</a>
                </div>
                <div class="green-column-end">
                    <a class="footer-link" href="https://www.fs.fed.us/about-agency">About Us</a>
                </div>
            </div>
        </div>
        <div class="green-row-bottom">
            <div class="support-item">
                For help or technical questions:
            </div>
        </div>
    </div>
</div>
<div class="footer-container-brown">
    <div class="brown-content-wrapper">
        <div class="brown-row-top">
            <div class="brown-column-left">
                <img src="/assets/img/usfslogo.svg" alt="US Forest Service" class="fs-footer-logo" role="img">
                <div class="brown-fs-slogan">
                    <h3>U.S. FOREST SERVICE</h3>
                    <h4>Caring for the land and serving people</h4>
                </div>
            </div>
            <div class="brown-column-right">
                <a href="https://www.facebook.com/USForestService/" class="usa-link-facebook social-icon"><img src="/assets/img/social-icon-facebook.svg" alt="Facebook" target="_blank" /></a>
                <a href="https://twitter.com/forestservice" class="usa-link-twitter social-icon"><img src="/assets/img/social-icon-twitter.svg" alt="Twitter" target="_blank" /></a>
                <a href="https://www.youtube.com/user/usdaForestService" class="usa-link-youtube social-icon"><img src="/assets/img/social-icon-youtube.svg" alt="YouTube" target="_blank" /></a>
            </div>
        </div>
        <div class="brown-row-bottom">
            <p>
                version: DEV, released on: TBD
            </p>
        </div>
    </div>
</div>
