<div id="gov-header">
    <div class="usa-logo" id="logo">
      <div class="fs-branding">
        <a href="//usda.gov">
          <img alt="United States Department of Agriculture" class="usda-logo" role="img" src="/assets/img/usda.svg">
        </a>
        <a id="us-forest-service-logo"  routerLink="/" routerLinkActive="active">
            <img alt="US Forest Service" class="fs-logo" role="img" alt="US Forest Service Department of Agriculture" src="/assets/img/usfslogo.svg" width="50">
            <div class="fs-slogan-column">
                <h3 class="header-text fs-title">U.S. FOREST SERVICE</h3>
                <h5 class="header-text">Caring for the land and serving the people</h5>
                <div class="beta-label"><span class="beta-label-text">BETA</span></div>
            </div>
        </a>
      </div>
      <div class="header-right-side-wrapper">
        <a class="login-btn" routerLink="login" routerLinkActive="active">Login</a>
      </div>
    </div>
</div>
